<div class="top-menu">
<div class="header-logo">welcome to Bookers !!</div>
<div class="content">
	<h2>In Bookers,</h2>
	<p>you can share and exchange your opinions , inpressions , and emotions
	<br>about various books!
     </p></div>
	  <%= link_to "Log in", user_session_path , class: "btn btn-default" %>
	 <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default"%>
<div class="footer">CopyRight Infratop.inc</div>
</div>
