// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
padding-left:30px;
}
.col-xs-9{
float:right;
}
.col-xs-3{
float:left;
}